### Gathering the data from the tables stored on snowflake

In [4]:
import snowflake.connector
import pandas as pd

# Credenciais Snowflake
SF_USER = "DAVISIQUEIRA"
SF_PASSWORD = "TrFHv.bEB.u8Seg"
SF_ACCOUNT = "PAILQHF-SD40239"
SF_WAREHOUSE = "COMPUTE_WH"
SF_DATABASE = "MEU_DB"
SF_SCHEMA = "PUBLIC"

# Conexão
conn = snowflake.connector.connect(
    user=SF_USER,
    password=SF_PASSWORD,
    account=SF_ACCOUNT,
    warehouse=SF_WAREHOUSE,
    database=SF_DATABASE,
    schema=SF_SCHEMA
)

# Consulta
query = "SELECT * FROM customers_refined LIMIT 1000"  # exemplo
df = pd.read_sql(query, conn)

# Fecha conexão
conn.close()

# Mostra as primeiras linhas
num_cols = df.select_dtypes(include=['int64','float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns
print(num_cols)
print(df.head())
df.info()
df.describe()

C:\Users\pacie\AppData\Local\Temp\ipykernel_10008\2263414768.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

Index([], dtype='object')
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

  customer_zip_code_prefix          customer_city customer_state  \
0                    14409                 franca             SP
1                     9790  sao bernardo do campo             SP
2                     1151              sao paulo             SP
3                     8775        mogi das cruzes             SP
4                    13056               campinas             SP

     customer_city_clean
0                 franca
1  sao bernardo do campo
2              sao paulo
3        mogi das cruzes
4               campinas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               1000 non-null   object
 1   customer_unique_id        1000 non-null   object
 2   customer_zip_code_prefix  1000 non-null   object
 3   customer_city             1000 non-null   object
 4   customer_state            1000 non-null   object
 5   customer_city_clean       1000 non-null   object
dtypes: object(6)
memory usage: 47.0+ KB

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_city_clean
count,1000,1000,1000,1000,1000,1000
unique,1000,999,886,261,4,261
top,06b8999e2fba1a1fbc88172c00ba8bc7,b6c083700ca8c135ba9f0f132930d4e8,24240,sao paulo,SP,sao paulo
freq,1,2,5,230,609,230